

// Réinitialisation des dimensions par défaut.

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#topPage {
    
    background-color: #EBD4FF;

     img {
        padding: 5px;
    }

    label i {
        float: right;
        padding: 13px 10px 0 0;
    }

}

#menuBurger {
    display: none;

}

nav#navMenu {
    height: 0;
    opacity: 0;

    ul {
        list-style: none;
    
        li a {
            text-transform: uppercase;
            background: hsl(227, 81%, 78%);
            border-bottom: 1px solid hsl(0, 0%, 0%, .1);
            text-decoration: none;
            padding: 1rem;
            color: bisque;
            display: flex;
            justify-content: center;
        }
    }
}

input#menuBurger:checked ~ nav#navMenu {
    transition: opacity 1s;
    opacity: 1;
}



main {
    background-color: rgb(158, 149, 255);
    margin-top: 150px;

    h1 {
        font-family: 'DynaPuff', cursive;
        margin-left: 40px;
    }
  

    article {

        padding: 40px;
    
        div {
            display: flex;
            flex-direction: column;
            box-shadow: 3px 1px 20px 2px rgb(66 63 63);
            border-radius: 10px;
            background-color: white;

            p {
                padding: 5px;
            }
        }
            img {
                max-width: 100%;
                border-radius: 10px 10px 0 0;
            }

            div:hover {
                transform: scale(1.05);
            }
        }
    }




